VERCEL_OIDC_TOKEN="XXXX"
VITE_API_ORIGIN=http://localhost:3001
CLERK_FRONTEND_API_URL=https://sharp-raven-97.clerk.accounts.dev
CLERK_BACKEND_API_URL=https://api.clerk.com
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c2hhcnAtcmF2ZW4tOTcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_NX49Uj6cPJT3edNjKmMAMyJonTTJIB2WqVWa0F6qot
GEMINI_API_KEY=AIzaSyD_XBEL0Lw8VS3yjIWn9F-e0qWWgaVSBYc
OPENAI_API_KEY=sk-proj-XXXXX
ELEVENLABS_API_KEY=sk_XXXXX
OPENROUTER_API_KEY=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
AI_MODEL_MAX_INPUT_PRICE_PER_MTOK=1.00
AI_MODEL_MAX_OUTPUT_PRICE_PER_MTOK=2.5
TTS_STORAGE=local #r2 #local
TTS_PROVIDER=gemini # elevenlabs
TTS_VOICE="Fenrir"
CLOUDFLARE_ACCOUNT_ID=73647bcc0e4087c3fc4c7a3a9595fd6b
CLOUDFLARE_R2_ACCESS_KEY_ID=XXXXX
CLOUDFLARE_R2_SECRET_ACCESS_KEY=XXXXXXX
R2_BUCKET_NAME=avacado-app
R2_PUBLIC_URL=https://media.avacado.xperiments.app
R2_S3_PUBLIC_URL=https://73647bcc0e4087c3fc4c7a3a9595fd6b.r2.cloudflarestorage.com # https://cc7839c4a72a3562759896e0058d0c94.r2.cloudflarestorage.com
CLOUDFLARE_ACC="XXXXX"
DATABASE=sqlite # turso
DATABASE_TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzI3OTExNzQsImlkIjoiMDE5Y2MyOTYtNTAwMS03NWFhLWFiOGUtNDkxMjFlYjYxNTI2IiwicmlkIjoiMDkzZGJhNGEtZWMzNS00MDkyLThlMTItYzkzZWVjN2JhNTI1In0.Z9di6J0APkFUVLjop1HBwoda4au7NOmadBC-RSS5HUAfDUclViDJjNby2dn3MzZSlVkSLZwfDUtyFw-1rbadDg"
DATABASE_TURSO_DATABASE_URL="libsql://avacado-growthschool.aws-ap-south-1.turso.io"
SQLITE_DB_PATH=./.data/avacado.sqlite